<html>
   <head>
      <title></title>
      
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
      <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
      <script src = "app.js"></script>
      <link rel = "stylesheet" type = "text/css" href = "app.css" />
      
   </head>
   <body>
      <center><h3>Application to Display Data</h3></center>
      <div ng-app = "myApp" ng-controller = "dataController">
         <table>
           <thead>
              <tr>
                 <th class="setHead">UserId&nbsp&nbsp<a ng-click="sort_table('userId')"><i class="icon-sort"></i></a></th>
                 <th class="setHead">ID&nbsp&nbsp<a ng-click="sort_table('id')"><i class="icon-sort"></i></a></th>
                 <th class="setHead">Title&nbsp&nbsp<a ng-click="sort_table('title')"><i class="icon-sort"></i></a></th>
                 <th class="setHead">Body&nbsp&nbsp<a ng-click="sort_table('body')"><i class="icon-sort"></i></a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "data in tableData | orderBy:sortingOrder:reverse">
                 <td>{{ data.userId }}</td>
                 <td>{{ data.id }}</td>
                 <td>{{ data.title }}</td>
                 <td>{{ data.body }}</td>
              </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>